{% load global_event_digger%}
<script type="text/javascript">
    //load the facebox
    jQuery(document).ready(function($) {
            $('a[rel*=facebox]').facebox()
          }) 
</script>


<table width="180" border="1" bordercolor="#FF9900" cellspacing="0" cellpadding="0">
    <tr>
        <th scope="col">
            <a href="#" onmouseout="MM_swapImgRestore()" onmouseover=
            "MM_swapImage('Image13','','/static/images_en/small_calendar_img/small_arrow_right_hover.jpg',1)"onClick="$('div.small_calendar').hide().load('/{{language}}/calendar/small/{{global_next_month.year}}/{{global_next_month.month}}/').show();"><img src="/static/images_en/small_calendar_img/small_arrow_small_arrow_right.jpg" name="Image13" width="12" height="12" border="0" id="Image13" /></a>
        </th>
        <th colspan="5" scope="col"><span class="month_text">{{global_cur_month.month}}/{{global_cur_month.year}}</span></th>
        <th scope="col"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover=
        "MM_swapImage('Image14','','/static/images_en/small_calendar_img/small_arrow_left_hover.jpg',1)"onClick="$('div.small_calendar').hide().load('/{{language}}/calendar/small/{{global_prev_month.year}}/{{global_prev_month.month}}/').show();"><img src="/static/images_en/small_calendar_img/small_arrow_left.jpg" name="Image14" width="12" height="12" border="0" id="Image14" /></a>
        </th>
    </tr>
    
    <tr class="days_ofweek_box">
        <td><span class="week_days">Sun.</span></td>
        <td><span class="week_days">Mon.</span></td>
        <td><span class="week_days">Tue.</span></td>
        <td><span class="week_days">Wed.</span></td>
        <td><span class="week_days">Thu.</span></td>
        <td><span class="week_days">Fri.</span></td>
        <td class="week_days">Sat.</td>
    </tr>
    
    {% for date_time in global_calendar_iterator %}

        {% if forloop.counter0|divisibleby:7 %}
        <tr>
        {% endif %}
            {% if date_time|is_global_event %}
                <td class="datebox_small_event">
            {% else %}
                <td class="date_box_small_empty">
            {% endif %}
            {% ifequal date_time.month global_cur_month.month %}
                {% if date_time|is_global_event %}
                <a href="/{{language}}/calendar/small/event/{{date_time.year}}/{{date_time.month}}/{{date_time.day}}/" rel="facebox">
                    {{date_time.day}}
                </a>
                {% else %}
                    {{date_time.day}}
                {% endif %}

            {% endifequal %}
            </td>
        {% if forloop.counter|divisibleby:7 %}
        </tr>
        {% endif %}
    {% endfor %}
</table>
